n8n/F01_recepcion_pqr_PROD.json
{
  "name": "F01 — Recepción PQR (PROD v3)",
  "nodes": [
    {
      "id": "96f1cb69-965b-4102-b1e4-c969bf24f6a5",
      "name": "Webhook PQR",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        200
      ],
      "parameters": {
        "path": "pqr-recepcion",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "86ec2d49-bb28-4f61-96cf-f3c2df58df81",
      "name": "Webhook Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        340
      ],
      "parameters": {
        "path": "pqr-recepcion",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "afb3b3f6-0bcd-4fe3-9db8-51f65e7612af",
      "name": "Generar Ticket ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        200
      ],
      "parameters": {
        "jsCode": "// Generar ticket ID único TD-YYYYMMDD-XXXX\nconst now = new Date();\nconst pad = (n,l=2) => String(n).padStart(l,'0');\nconst fecha = now.getFullYear() + pad(now.getMonth()+1) + pad(now.getDate());\nconst rand = Math.floor(Math.random()*9000)+1000;\nconst ticket_id = `TD-${fecha}-${rand}`;\n\nconst body = $input.first().json.body || $input.first().json;\n\nreturn [{json: {\n  ticket_id,\n  nombre:       body.nombre        || body.name       || '',\n  correo:       body.correo        || body.email       || '',\n  telefono:     body.telefono      || body.phone       || '',\n  descripcion:  body.descripcion   || body.description || '',\n  tipo_pqr:     body.tipo_pqr      || body.tipo        || 'peticion',\n  origen:       body.origen        || 'web',\n  canal_contacto: body.canal       || 'formulario_web',\n  audio_url:    body.audio_url     || null,\n  canvas_url:   body.canvas_url    || null,\n  transcripcion: body.transcripcion || null,\n  subject:      `[${ticket_id}] PQR - ${body.nombre || 'Ciudadano'}`,\n  estado:       'pendiente',\n  prioridad:    'media',\n  received_at:  now.toISOString(),\n  created_at:   now.toISOString(),\n  updated_at:   now.toISOString()\n}}];"
      }
    },
    {
      "id": "e4a7d078-204e-4b65-8df1-7641cf887f06",
      "name": "INSERT PQR en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        480,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://lyosqaqhihwgvjigvqtc.supabase.co/rest/v1/correos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SB_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SB_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 2000
          }
        }
      }
    },
    {
      "id": "11e38bbd-84ed-438f-8757-deae13cea116",
      "name": "Responder al Formulario",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true,\"ticket_id\":\"{{ $('Generar Ticket ID').first().json.ticket_id }}\",\"mensaje\":\"Tu solicitud fue recibida. Ticket: {{ $('Generar Ticket ID').first().json.ticket_id }}\"}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "13f5a9ce-a7df-40a1-b85e-a19d340b0c3c",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        400
      ],
      "parameters": {}
    },
    {
      "id": "8e3e3777-e44c-4024-9977-8db3a4afe55e",
      "name": "Log Error F01-RecepcionPQR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        40,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://lyosqaqhihwgvjigvqtc.supabase.co/rest/v1/historial_eventos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SB_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SB_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"correo_id\": null,\n  \"evento\": \"error_flujo\",\n  \"descripcion\": \"F01-RecepcionPQR: \" + $json.execution.error.message,\n  \"datos_extra\": {\"flujo\": \"F01-RecepcionPQR\", \"error\": $json.execution.error.message}\n}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Log Error F01-RecepcionPQR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook PQR": {
      "main": [
        [
          {
            "node": "Generar Ticket ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Test": {
      "main": [
        [
          {
            "node": "Generar Ticket ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Ticket ID": {
      "main": [
        [
          {
            "node": "INSERT PQR en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT PQR en Supabase": {
      "main": [
        [
          {
            "node": "Responder al Formulario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
