n8n/F01_recepcion_pqr_PROD.json
{
  "name": "F01 — Recepción PQR (PROD v3)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pqr-recepcion",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7b2b4a95-e22f-4160-bcae-b23bf74f28b8",
      "name": "Webhook PQR",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        288,
        -192
      ],
      "webhookId": "60a65598-745f-4d4b-b904-d354352e8881"
    },
    {
      "parameters": {
        "jsCode": "// Generar ticket ID único TD-YYYYMMDD-XXXX\nconst now = new Date();\nconst pad = (n,l=2) => String(n).padStart(l,'0');\nconst fecha = now.getFullYear() + pad(now.getMonth()+1) + pad(now.getDate());\nconst rand = Math.floor(Math.random()*9000)+1000;\nconst ticket_id = `TD-${fecha}-${rand}`;\n\nconst body = $input.first().json.body || $input.first().json;\n\nreturn [{json: {\n  ticket_id,\n  nombre:       body.nombre        || body.name       || '',\n  correo:       body.correo        || body.email       || '',\n  telefono:     body.telefono      || body.phone       || '',\n  descripcion:  body.descripcion   || body.description || '',\n  tipo_pqr:     body.tipo_pqr      || body.tipo        || 'peticion',\n  origen:       body.origen        || 'web',\n  canal_contacto: body.canal       || 'formulario_web',\n  audio_url:    body.audio_url     || null,\n  canvas_url:   body.canvas_url    || null,\n  transcripcion: body.transcripcion || null,\n  subject:      `[${ticket_id}] PQR - ${body.nombre || 'Ciudadano'}`,\n  estado:       'pendiente',\n  prioridad:    'media',\n  received_at:  now.toISOString(),\n  created_at:   now.toISOString(),\n  updated_at:   now.toISOString()\n}}];"
      },
      "id": "e422560a-9049-4e5a-ae09-634e41c13d8b",
      "name": "Generar Ticket ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lyosqaqhiwhgvjigvqtc.supabase.co/rest/v1/correos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5b3NxYXFoaXdoZ3ZqaWd2cXRjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzg0MDEyNSwiZXhwIjoyMDg5NDE2MTI1fQ.IoFTm2ffiwcH9ENjB4GKZV9HWN48fIviUIb6tgGrOnA"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5b3NxYXFoaXdoZ3ZqaWd2cXRjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzg0MDEyNSwiZXhwIjoyMDg5NDE2MTI1fQ.IoFTm2ffiwcH9ENjB4GKZV9HWN48fIviUIb6tgGrOnA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"ticket_id\":         \"={{ $json.ticket_id }}\",\n  \"from_email\":        \"={{ $json.correo }}\",\n  \"from_name\":         \"={{ $json.nombre }}\",\n  \"nombre\":            \"={{ $json.nombre }}\",\n  \"correo\":            \"={{ $json.correo }}\",\n  \"telefono_contacto\": \"={{ $json.telefono }}\",\n  \"subject\":           \"={{ $json.subject }}\",\n  \"descripcion\":       \"={{ $json.descripcion }}\",\n  \"body_preview\":      \"={{ $json.descripcion }}\",\n  \"body_content\":      \"={{ $json.descripcion }}\",\n  \"body_type\":         \"text\",\n  \"tipo_pqr\":          \"={{ $json.tipo_pqr }}\",\n  \"canal_contacto\":    \"={{ $json.canal_contacto }}\",\n  \"origen\":            \"formulario_web\",\n  \"transcripcion\":     \"={{ $json.transcripcion }}\",\n  \"audio_url\":         \"={{ $json.audio_url }}\",\n  \"canvas_url\":        \"={{ $json.canvas_url }}\",\n  \"estado\":            \"pendiente\",\n  \"prioridad\":         \"media\",\n  \"has_attachments\":   false,\n  \"is_read\":           false,\n  \"received_at\":       \"={{ $json.received_at }}\",\n  \"created_at\":        \"={{ $json.created_at }}\",\n  \"updated_at\":        \"={{ $json.updated_at }}\"\n}",
        "options": {}
      },
      "id": "85932948-2c02-4f5f-bd5e-36ff1ee02eee",
      "name": "INSERT PQR en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        736,
        -192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true,\"radicado\":\"{{ $('Generar Ticket ID').first().json.ticket_id }}\",\"ticket_id\":\"{{ $('Generar Ticket ID').first().json.ticket_id }}\",\"mensaje\":\"Tu solicitud fue recibida exitosamente. Radicado: {{ $('Generar Ticket ID').first().json.ticket_id }}\"}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b6cb0330-5664-405c-9d19-5e6d175dbabc",
      "name": "Responder al Formulario",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        976,
        -192
      ]
    },
    {
      "parameters": {},
      "id": "edef982f-cb98-4e34-bc58-7fc1a8e298be",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        304,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lyosqaqhiwhgvjigvqtc.supabase.co/rest/v1/historial_eventos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5b3NxYXFoaXdoZ3ZqaWd2cXRjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzg0MDEyNSwiZXhwIjoyMDg5NDE2MTI1fQ.IoFTm2ffiwcH9ENjB4GKZV9HWN48fIviUIb6tgGrOnA"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5b3NxYXFoaXdoZ3ZqaWd2cXRjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzg0MDEyNSwiZXhwIjoyMDg5NDE2MTI1fQ.IoFTm2ffiwcH9ENjB4GKZV9HWN48fIviUIb6tgGrOnA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"correo_id\": null, \"evento\": \"error_flujo\", \"descripcion\": \"F01-RecepcionPQR error\"}",
        "options": {}
      },
      "id": "532870e1-e677-4c32-b1b5-d0d33c2487ba",
      "name": "Log Error F01-RecepcionPQR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        560,
        64
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook PQR": {
      "main": [
        [
          {
            "node": "Generar Ticket ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Ticket ID": {
      "main": [
        [
          {
            "node": "INSERT PQR en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT PQR en Supabase": {
      "main": [
        [
          {
            "node": "Responder al Formulario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "46223c0f-5c8c-443b-bcf7-1e24f6129d2c",
  "meta": {
    "instanceId": "a09ff7bc0c5e2d52aa8e25fe6761ad46e4880f02dbe5bbf7ff8352e604ddc15f"
  },
  "id": "inVBgdbhSKiwzJQK",
  "tags": []
}
